<div class="landing-text">
  <h2>What is BetterThan?</h2>
  <p>
    BetterThan Solves the question "which is better" by combining two great systems: <strong>DEMOCRACY</strong> and <strong>WASTING TIME ON THE INTERNET!</strong>
  </p>
  <h3>How does it work??</h3>
  <p>
    Just sign up for an account (<span class="glyphicon glyphicon-hand-up"></span>
    <span class="glyphicon glyphicon-hand-up"></span><span class="glyphicon glyphicon-hand-up"></span> up there!!)
     and click any one of the many available categories (<span class="glyphicon glyphicon-hand-up"></span>
    <span class="glyphicon glyphicon-hand-up"></span><span class="glyphicon glyphicon-hand-up"></span>also up there!!!)
     - check out the current rankings and look for a <strong>GROSS MISCARRIAGE OF JUSTICE</strong>
      that needs to be corrected - you can choose one option and vote it up to its rightful place, plus one other that need to be brought back down into the mud where it belongs.
  </p>
  <h3>But wait! I voted and the rankings are still totally whack, y'all!!</h3>
  <p>
    <strong>DON'T WORRY!</strong> you can come back once every day and vote against until the rankings reflect the strong <strong>ULTIMATE TRUTH.</strong>
    But be warned! Other people with less taste and intelligence will alos be voting - the only option for you is to <strong>STAY DILLIGENT</strong> and come back
    <strong>EVERY DAY</strong> to prove you care about truth, justice, and accurate rankings of culture, media, and life itself!
  </p>
</div>
