/*
*= require_tree .
*= require_self
*/

@import "bootstrap-sprockets";
@import "bootstrap";

@import url(http://fonts.googleapis.com/css?family=Alfa+Slab+One);

html {
  height: 100%
}

.centered {
  text-align: center;
}

body {
  margin-top: 4px;
  height: 100%;
}

.underlay {
  top: 0;
  left: 0;
  width: 100%;
  position: fixed;
  opacity: 0.2;
  z-index: -1;
}

.underlay img {
  width: 100%;
}

.nav li a {
  display: inline;
}

.float-right {
  float: right;
}

.start-hidden {
  visibility: hidden;
}

.logo {
  font-size: 3em;
  color: white;
}

.modal-padding {
  padding: 2em;
}

.navbar-right {
  padding-right: 1em;
}

.bangtext {
  font-family: 'Alfa Slab One', cursive;
}

.landing-text h1, h2, h3, h4, h5, h6 {
  font-family: 'Alfa Slab One', cursive;
  font-style: italic;
}

.landing-text p {
  font-size: 1.2em;
}

.landing-text {
  padding-left: 4%;
  padding-right: 4%;
}
