/*
*= require_tree .
*= require_self
*/

@import "bootstrap-sprockets";
@import "bootstrap";

@import url(http://fonts.googleapis.com/css?family=Alfa+Slab+One);

body {
  margin-top: 4px;
}

.nav li a {
  display: inline;
}

.float-right {
  float: right;
}

.start-hidden {
  visibility: hidden;
}

a.navbar-brand {
  font-size: 3em;
  color: white;
}

.modal-padding {
  padding: 2em;
}

.navbar-right {
  padding-right: 1em;
}

.bangtext {
  font-family: 'Alfa Slab One', cursive;
}
