.center-col {
  width: 100%;
}

.item-list {
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
}

.item-list .rank-group {
  position: relative;
  width: 100%;
  background-color: black;
  padding-bottom: 0.5em;
  border-radius: 8px;
  margin-bottom: 10px;
}

.rank-group .rank-text {
  width: 100%;
  color: white;
  font-weight: bold;
  font-style: italic;
  font-size: 2em;
  padding: 0.2em;
  padding-left: 0.5em;
}

.rank-left {
  margin-left: 1em;
  text-align: right;
}

.rank-right {
  left: -1em;
}

.rank-group .rank-item {
  padding: 0.1em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  width: 100%;
  background-color: silver;
  color: black;
  font-size: 1.6em;
  border-radius: 4px;
  border-width: 1px;
  border-style: solid;
  border-color: white;
  position: relative;
}

.rank-group .rank-item:hover {
  cursor: pointer;
  font-weight: bold;
  border-color: magenta;
}

.rank-item.selected {
  border-color: cyan;
  font-style: italic;
}
